p.heading {
font-family: 'Indie Flower', cursive;
font-size: 40px;
text-shadow: 4px 4px 4px #aaa;
text-align: center;
}

body{
	width: 760px; /* how wide to make your web page */
	background-color: #81DAF5; /* what color to make the background */
	margin: 0 auto;
	padding: 0;
        font-family: 'Gloria Hallelujah', cursive;
	font-size: 25px;
        text-align: center;
        color:#000000;
}


label{
font-size:15px;
}

p.listname{
font-size:30px;
text-decoration: underline;
}

ul.center{
list-style: none;
text-align:center;
}

ul.center li:before {
  content: "\2022  "
}

div#main{
	background-color: #FFF;
	margin: 0;
	padding: 10px;
}